<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NorthwindConnection"
         providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\Projects;Initial Catalog=MentorSQLBasic;Integrated Security=True"/>
  </connectionStrings>
</configuration>